body, html{
    height: 100%;
    margin: 0px;
}
body{
    background-color:rgb(90, 18, 9)
}

.header-top{
    width: 100%;
    height: 27%;
    background-image:url(../images/lava-flow.jpg);
    background-position: center;
    position: center
}

.the-text{
    color: lightblue
}
.text-text{
    width: 100%;
}

nav li{
    display: inline;
    margin: 25px;
}
nav ul{
    background-color: black;
    margin: 0;
    width: 100%;
    padding: 25px;
}

nav{
    display: block;
    color: lightblue
}

nav a{
    display: inline-block;
    color: yellow;
}

#main{
    width:75%;
    float:Right;
    height:100%;
    padding:Right 20px;
    padding-top:20px;
}

#side{
    width:20%;
    float: left;
    height: 100%;
    padding:20px;
}
#profile-image{
    width:40%;
    border-radius:50%;
    border:5px solid rgb(2, 2, 2)
}
#profile{
    text-align: center;
}

#profile-details{
    margin-right:30px;
    text-align:center
}
#outlook-image{
    width: 100%;
}
.side-articles ul{
    list-style-type: none;
    padding-left:0px;
}

#profile h2{
    display:inline;
}

.sub-articles{
    padding: 750px;
    height: 100%;
    color: rgb(184, 140, 19)
    
}
#me-image{
    width: 60%;
    border: 5px;
    border-radius: 80%;
    display: center;    
}

.side-articles, .main-articles{
    padding: 10px;
    margin-bottom:10px;
    border-radius:10px;
}
.side-articles{
    background-color: rgb(182, 178, 178);
    text-align:center
}

.main-articles{
    width:100%;
    float:Right;
    height:100%;
    padding:Right:20px;
    background-position: center;
    position relative;
}

main{
    overflow:auto;
}


.side-articles ul{
    list-style-type: none;
    padding-left:0px;

}
#profile h2{
    display:inline;
}

.main-articles{
    background-color:white
}

footer{
    background-image:url(../images/lava-flow.jpg);
    bottom:0px;
    width:100%;
    background-color:black;
    height: 6vh;
    margin-top:0px;
}